<html>
    <head><title>Database</title>
        
   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script>
            
            var len = 0;
            
            $(document).ready(function (){
                poll();
            });
            
            function poll(){
                
                $.ajax({
                    url : 'https://sens-agriculture.herokuapp.com/db',
                    type : 'get',   
                    success : function(data){
                        
                        try{
                            
                            var jsonObj = JSON.parse(data);
                            console.log("try block");
                            
                        }catch(e){
                            
                            var jsonObj = data;
                        
                            console.log("catch block");
                            for(i=len;i<data.rows.length;i++){
                                $('#PID').append(data.rows[i].product_id + "<br>");
                                $('#Temp').append(data.rows[i].temprature + "<br>");
                                $('#Hum').append(data.rows[i].humidity + "<br>");
                                $('#co').append(data.rows[i].co_leve + "<br>");
                                $('#ph').append(data.rows[i].ph + "<br>");
                                $('#light').append(data.rows[i].light + "<br>");
                                $('#time').append(data.rows[i].created_at + "<br>");
                            }
                            
                            len = data.rows.length;
                        }
        
                    },
                    
                    error	: function (xhr, ajaxOptions, thrownError) {
                        var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                        $('#ajaxinput').html(errorMsg);
                    }
         
                });
                setTimeout('poll()',2000);
                
            }
                
        </script>
        
        
        
    </head>
    <body>
        
        <div class="container">
          
            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                        <th>pH Level</th>
                        <th>CO Level</th>
                        <th>Light</th>
                        <th>TimeStamp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ID="PID"></td>
                        <td ID="Temp"></td>
                        <td ID="Hum"></td>
                        <td ID="ph"></td>
                        <td ID="co"></td>
                        <td ID="light"></td>
                        <td ID="time"></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </body>
</html>