<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script type="text/javascript">

  var markup = document.documentElement.innerHTML;
        var x2js = new X2JS();
        var jsonObj = x2js.xml_str2json(markup);
        console.log(jsonObj);
    </script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> </li>
    <% }); %>
</ul>

</div>

</body>
</html>
