<!DOCTYPE html>
<html>
<head>
  <title> Data View - SenS </title>
  <% include ../partials/header.ejs %>
<link rel="icon" type="image/png" href="title_logo.png">
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %> </li>
    <% }); %>
</ul>

</div>

</body>
</html>
