<!DOCTYPE html>
<html>
<head>
<title> SenS </title>
<<<<<<< HEAD
<script src="../js/machine_learning.min.js">
	var ml = require('machine_learning');
var x = [[1,1,1,0,0,0],
         [1,0,1,0,0,0],
         [1,1,1,0,0,0],
         [0,0,1,1,1,0],
         [0,0,1,1,0,0],
         [0,0,1,1,1,0]];
var y = [[1, 0],
         [1, 0],
         [1, 0],
         [0, 1],
         [0, 1],
         [0, 1]];

var classifier = new ml.LogisticRegression({
    'input' : x,
    'label' : y,
    'n_in' : 6,
    'n_out' : 2
});

classifier.set('log level',1);

var training_epochs = 800, lr = 0.01;

classifier.train({
    'lr' : lr,
    'epochs' : training_epochs
});

x = [[1, 1, 0, 0, 0, 0],
     [0, 0, 0, 1, 1, 0],
     [1, 1, 1, 1, 1, 0]];

console.log("Result : ",classifier.predict(x));

</script>
<% include ../partials/header.ejs %> 
=======

</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)" bgcolor="#CFCDD5"> 

>>>>>>> 0f330fcd58269e7ddfda6675271a22ee4336aa15
</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)" bgcolor="#CFCDD5"> 

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <img src="sens.png"> -->
<h1 style="text-align: center;"> SenS </h1>
<h1> Intelligent And Automated Agriculture </h1>
    <ul>
	<li> Project Specifications &#10004; </li>
	<li> Hardware Monitoring Section &#10004; </li>
	<li> Designing an effective cloud dB Schema for sensor data &#10004; </li>
	<li> SenS App Connectivity with the Cloud &#10004; </li>
	<li> Hardware Connectivity with the Cloud  <br> <progress value="50" max="100">
</progress></li>
	<li> Data Visualization with Dummy data  <br> <progress value="50" max="100">
</progress></li>
	<li> REST APIs for responding to requests  <br><progress value="20" max="100">
</progress></li>

    </ul>

    </body>
</html>
