<!DOCTYPE HTML>
<!--
	@Author Sanjoth Shaw
	Team SenS @ STMicroelectronics India
-->
<html>
	<head>
		<title>DashBoard - SenS</title>
		<link rel="icon" type="image/png" href="title_logo.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script>
		var linkToFocus = document.getElementById('b1');
		var linkToFocus1 = document.getElementById('b2');
		var linkToFocus2 = document.getElementById('b3');
		var linkToFocus3 = document.getElementById('b4');

linkToFocus.focus();
linkToFocus1.focus();
linkToFocus2.focus();
linkToFocus3.focus();
</script>

	</head>
	<body>

		<!-- Header -->
			<header id="header">
			<img src="sens.png" width="20%" height="25%" style="margin-left:40%;">
				<p style="text-align: center;">
				</p>

			</header>

			<div id="sanjoth" style="text-align: center;">
			<!-- transparent buttons -->

					<form target="_blank" action="/progress">
					    <button id="b1" type="submit">Mission Overview</button>
					</form>

					<form target="_blank" action="/loginForm">
					    <button id="b2"  type="submit">Login</button>
					</form>

					<form target="_blank" action="/signUp">
					    <button id="b3"  type="submit">Register</button>
					</form>

					<form target="_blank" action="/database">
					    <button id="b4"  type="submit">View Data</button>
					</form>

			</div>




		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">

					<li><a target="_blank" href="mailto:sensagriculture@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					<li><a href="https://github.com/Turing-Circle/sens-main/" class="icon fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Team SenS</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script type="text/javascript">
				!function(){"use strict";!function(){function t(t){this.el=t;for(var e=t.className.replace(/^\s+|\s+$/g,"").split(/\s+/),n=0;n<e.length;n++)i.call(this,e[n])}function e(t,e,n){Object.defineProperty?Object.defineProperty(t,e,{get:n}):t.__defineGetter__(e,n)}if(!("undefined"==typeof window.Element||"classList"in document.documentElement)){var n=Array.prototype,i=n.push,s=n.splice,o=n.join;t.prototype={add:function(t){this.contains(t)||(i.call(this,t),this.el.className=this.toString())},contains:function(t){return-1!=this.el.className.indexOf(t)},item:function(t){return this[t]||null},remove:function(t){if(this.contains(t)){for(var e=0;e<this.length&&this[e]!=t;e++);s.call(this,e,1),this.el.className=this.toString()}},toString:function(){return o.call(this," ")},toggle:function(t){return this.contains(t)?this.remove(t):this.add(t),this.contains(t)}},window.DOMTokenList=t,e(Element.prototype,"classList",function(){return new t(this)})}}(),window.canUse=function(t){window._canUse||(window._canUse=document.createElement("div"));var e=window._canUse.style,n=t.charAt(0).toUpperCase()+t.slice(1);return t in e||"Moz"+n in e||"Webkit"+n in e||"O"+n in e||"ms"+n in e},function(){"addEventListener"in window||(window.addEventListener=function(t,e){window.attachEvent("on"+t,e)})}();var t=document.querySelector("body");t.classList.add("is-loading"),window.addEventListener("load",function(){window.setTimeout(function(){t.classList.remove("is-loading")},100)}),function(){var e,n,i,s={images:{"images/bg01.jpg":"center","images/bg02.jpg":"center","images/bg03.jpg":"center"},delay:6e3},o=0,a=0,c=[];e=document.createElement("div"),e.id="bg",t.appendChild(e);for(i in s.images)n=document.createElement("div"),n.style.backgroundImage='url("'+i+'")',n.style.backgroundPosition=s.images[i],e.appendChild(n),c.push(n);c[o].classList.add("visible"),c[o].classList.add("top"),1!=c.length&&canUse("transition")&&window.setInterval(function(){a=o,o++,o>=c.length&&(o=0),c[a].classList.remove("top"),c[o].classList.add("visible"),c[o].classList.add("top"),window.setTimeout(function(){c[a].classList.remove("visible")},s.delay/2)},s.delay)}()}();
			</script>

	</body>
</html>
