<!DOCTYPE html>
<html>
<head> <title>SenS, STMicroelectronics</title>
 
</head>

<body>
<h1 style="text-align: center;"> SenS - Intelligent & Automated Agriculture </h1>
    <ul>
	<li> SERVER & dB RESPONDING &#10004; </li>
    </ul>

</body>
</html>
