<!DOCTYPE html>
<html>
<head> <title>SenS</title>
 
</head>

<body>
<h1 style="text-align: center;"> SenS - Intelligent & Automated Agriculture </h1>
    <ul>
	<li> Project Specifications &#10004; </li>
	<li> Hardware Monitoring Section &#10004; </li>
	<li> Designing an effective cloud dB Schema for sensor data &#10004; </li>
	<li> SenS App Connectivity with the Cloud &#10004; </li>
	<li> Hardware Connectivity with the Cloud  <progress value="50" max="100">
</progress></li>
	<li> Data Visualization with Dummy data  <progress value="50" max="100">
</progress></li>
	<li> REST APIs for responding to requests  <progress value="20" max="100">
</progress></li>

    </ul>

</body>
</html>
