<!DOCTYPE HTML>
<!--
	@Author Sanjoth Shaw
	Team SenS @ STMicroelectronics India
-->
<html>
	<head>
		<title>DashBoard - SenS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />

	</head>
	<body>

		<!-- Header -->
			<header id="header">
			<img src="sens.png" width="1 em" height="1 em" style="margin-left:40%;">
				<p style="text-align: center;">
				</p>

			</header>

			<div id="sanjoth" style="text-align: center;">
			<!-- transparent buttons -->

					<form target="_blank" action="/progress">
					    <button type="submit">Mission Overview</button>
					</form>

					<form target="_blank" action="/loginForm">
					    <button type="submit">Login</button>
					</form>

					<form target="_blank" action="/signUp">
					    <button type="submit">Register</button>
					</form>

					<form target="_blank" action="/dB">
					    <button type="submit">View Data</button>
					</form>

			</div>




		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">

					<li><a target="_blank" href="mailto:sensagriculture@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					<li><a href="https://github.com/Turing-Circle/sens-main/" class="icon fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Team SenS</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/main.js"></script>

	</body>
</html>
