<!DOCTYPE html>
<html>
<head>
<title> SenS </title>
<% include ../partials/header.ejs %> 

</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)"> 
</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)" bgcolor="#CFCDD5"> 

<meta name="viewport" content="width=device-width, initial-scale=1">
<img src="sens.png">
<h1 style="text-align: center;"> SenS </h1>
<h1> Intelligent And Automated Agriculture </h1>
    <ul>
	<li> Project Specifications &#10004; </li>
	<li> Hardware Monitoring Section &#10004; </li>
	<li> Designing an effective cloud dB Schema for sensor data &#10004; </li>
	<li> SenS App Connectivity with the Cloud &#10004; </li>
	<li> Hardware Connectivity with the Cloud  <br> <progress value="50" max="100">
</progress></li>
	<li> Data Visualization with Dummy data  <br> <progress value="50" max="100">
</progress></li>
	<li> REST APIs for responding to requests  <br><progress value="20" max="100">
</progress></li>

    </ul>

    </body>
</html>
