<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>This is a demo application to check weather the heroku server is working or not</h1>
    <h2>Project : Smart and Automated Agriculture - Sens</h2>
    <h2>^Team members^</h2>
    <h2>Sanjoth Shaw - Hardware</h2>
    <h2>Zeeshan Alabedin - Data Analysis and Machine learning Algorythms</h2>
    <h2>Shubham Malik - Android Developer</h2>
    <h2>Shubham Rai - DB designer and End to End connectivity handelling</h2>


</body>
</html>
