<!DOCTYPE html>
<html>
    
    <head>
     
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <style>
        
            img {
                
                width: 20%;
                height: 20%;
                margin-left: 41%;
                margin-top: 7%;
            
            
    
            }
            #ss{
                color: #26ae90;
            }
            
        </style>
            
        <script>
            
            function loadDoc() {
                var f_email = document.getElementById("email").value;
                var f_password = document.getElementById("password").value;
                
                var i = 0;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var jsonObj = JSON.parse(xhttp.responseText);
                       for(i=0;i<jsonObj.rows.length;i++){
                            //document.writeln("<tr><td><b>Name:</b></td><td width = 50>" +       jsonObj.rows[i].product_id+"</td></tr>");
                           var pid = jsonObj.rows[i].product_id;
                           localStorage.setItem("user_id",pid);
                           window.location.href = "page2.html";
                        
                       }
                        
                    }
                };
                xhttp.open("GET", "http://sens-agriculture.herokuapp.com/login?uname="+f_email+"&pwd="+f_password, true);
                xhttp.send();
                
            }
            
            
        </script>
    </head>
    
    <body>
       
        
            <img src="sens.png">
      
        
        <div id="login">
            <form name='form-login'>
                <span class="fontawesome-user"></span>
                <input type="text" id="email" placeholder="Email">
       
                <span class="fontawesome-lock"></span>
                <input type="password" id="password" placeholder="Password">
          
               

            </form>
             <button onClick=loadDoc()><div id="ss"><strong>LOGIN</strong></div></button>
        </div>
        
       <!-- <form>
            <input type="text" placeholder="Email" id="email">
            <input type="text" placeholder="Password" id="password">
        
        </form>-->
        
            

    </body>
    
</html>