<!DOCTYPE HTML>
<!--
Designed by Sanjoth Shaw
Team SenS @ STMicroelectronics India
-->
<html>
	<head>
		<title>SenS - Team Progress</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets_progress/css/main.css" />

	</head>

	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
				<!-- 	<img src="sens.png" width="10%" height="10%" style="margin-left:45%;"> -->
						<div class="inner">
							<h2>SenS - Team Progress</h2> 
									<br />
										 Project Specs &#10004; <br />
										 Hardware Monitoring Section &#10004; <br />
										 Designing a Cloud DataBase Schema for sensor data &#10004; <br />
										 SenS App Connectivity with the Cloud &#10004; <br />
										 Data Visualization on Android & Web &#10004;<br />
										 <hr style="display: inline-block;">
										 SenS App Functions <br />
										 <progress value="50" max="100"></progress><br />
									     Hardware Connectivity with the Cloud  <br /> 
									     <progress value="95" max="100"> </progress><br />
										 Getting insights from data <br />
										 <progress value="10" max="100"> </progress><br />
										 Optimization & Integrity Checks <br />
										 <progress value="20" max="100"></progress><br />
									     Optimized REST APIs for responding to requests  <br />
									     <progress value="75" max="100"></progress>
									<br />
									<ul class="actions">
									<br />
								<li><a href="/" class="button special">Go to DashBoard</a></li>
									</ul>
						</div>
					</section>	
			</div>

		<!-- Scripts -->
			<script src="assets_progress/js/jquery.min.js"></script>
			<script src="assets_progress/js/skel.min.js"></script>
			<script src="assets_progress/js/util.js"></script>
			<script src="assets_progress/js/main.js"></script>

	</body>
</html>