<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<link rel="icon" type="image/png" href="title_logo.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style>
	body{
		background: url(login.png) no-repeat;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
			img {
					width: 20%;
					height: 20%;
					margin-left: 41%;
					margin-top: 2%;
			}
			#ss{
					color: #26ae90;
			}
	</style>
</head>
<body>


				<img src="sens.png">


		<div id="login">
				<form name='form-login'>
						<span class="fontawesome-user"></span>
						<input type="password" id="pass" placeholder="Password">

						<span class="fontawesome-lock"></span>
						<input type="password" id="passr" placeholder="Confirm Password">

				</form>
				<br />

				 <button onClick=myFunction()><div id="ss"><strong>RESET PASSWORD</strong></div></button>
		</div>

</body>
<script>

function myFunction() {

    var x = document.getElementById("pass").value;
    var y = document.getElementById("passr").value;
    var n = x.localeCompare(y);

    if(n > 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else if(n < 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else
    {
        var v = window.location.href;
        var uname = v.split('=');
//  Decrypt Code

				var n = uname[1].length;
				var newstr ="";
				var count;
				var a;

					for(count = 0; count < n; count++)
					{

						if(count == 0 || count%2 == 0)
							{
							a = uname[1].charCodeAt(count)+1;
							}
							else
							{
							a = uname[1].charCodeAt(count)-1;
							}
							var b = String.fromCharCode(a);
							newstr += b;

					}
					var name1 = newstr;

			// Decrypt Code
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/updatepassword?uname="+name1+"&pass="+x, true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/resetSuccess");
        window.close();
    }
}

</script>
</body>
</html>
