<!DOCTYPE html>
<html>
<head>
<title> SenS </title>
<% include ../partials/header.ejs %> 
<style type="text/css">
    
            .banner {
            background-color : #3aafa9;
            overflow : hidden;
        }
        
        .header {
            background-color : #3aafa9;
            color : white;
            font-family : verdana;
        }
        
        #logo {
            margin-bottom : 0;
            padding-left : 1em;
            font-family : verdana;
            font-size : 180%;
            font-weight : Bold;
            word-spacing : 0.2em;
        }
        
        #agri{
            letter-spacing : 0.25em;
            font-weight : normal;
            color : #17252a;
           
        }
        
        #moto {
            margin-top : 0;
            padding-left : 2em;
        }

</style>

</head>

<body align = "center"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="banner">
<div class="header">
    <p id="logo">SenS <span id="agri">Intelligent and Automated Agriculture</span> </p>
    <p id="moto"> Reset Password </p>
 </div>
<<<<<<< HEAD
 </div>    

<div class="form">
<form>
    
	<br><br>New Password : <input type="password" name="Password" id="pass" required>
    <br>Retype New Password : <input type="password" name="PasswordReset" id="passr" required><br>
    <button onClick=myFunction()>Reset</button>
    <p id="warn"> </p>
</form>

</div>
    
<script>
var url = require('url');

function myFunction() {
    
    var x = document.getElementById("pass").value;
    var y = document.getElementById("passr").value;
    var n = x.localeCompare(y);


    if(n > 0)
    {
        document.getElementById('warn').innerHTML = "Some text to enter";
    	alert("Enter correct Password");
    }
    else if(n < 0)
    {
    	alert("Enter Correct Password");
    }
    else
    {
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/updatepassword?uname="+uname[1]+"&pass="+x, true);
        xhr.send();
       // alert(uname[1]);
        window.open("https://sens-agriculture.herokuapp.com/resetSuccess");
        window.close();
    }
=======
 </div>   
>>>>>>> 50a01f4405a478f6893d693f61589d5ad240162d

<img src="sens.png" width="25%" height="50%">

<h2> Your password has been reset successfully ! </h2>

    </body>
</html>
