<!DOCTYPE html>
<html>
<head>
<title> SenS </title>
<% include ../partials/header.ejs %> 

</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)"> 
</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)"> 

<h2> Your password has been reset succesfully ! </h2>

    </body>
</html>
