<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async defer></script>
    <link rel="icon" type="image/png" href="title_logo.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style>

	body{
		background: url(bg.jpg) no-repeat;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
			img {
					width: 20%;
					height: 20%;
					margin-left: 41%;
					margin-top: 2%;
			}
			#ss{
					color: #26ae90;
			}
	   </style>
    </head>
    <body>



                <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <img class="profile-img" src="sens.png" alt="">
                    <div class="account-wall">


		  <div id="login">
				<form name='form-login'>
						<span class="fontawesome-user"></span>
						<input type="password" id="pass" placeholder="Password">

						<span class="fontawesome-lock"></span>
						<input type="password" id="passr" placeholder="Confirm Password">

				</form>
				<br />

				 <button onClick=myFunction()><div id="ss"><strong>RESET PASSWORD</strong></div></button>
                        </div></div></div></div></div>

</body>
<script>
var name1;
var v = window.location.href;
var uname = v.split('=');
var check;
var n,x,y,ck;


function myFunction() {

  x = document.getElementById("pass").value;
  y = document.getElementById("passr").value;
  n = x.localeCompare(y);

// Cipher Decrypt START
    var name = uname[1];
    var num = name.length;
    var newstr = "";
    var count;

      for(count = 0; count < num; count++)
      {
        if(count == 0 || count%2 == 0)
          {
          var a = name.charCodeAt(count)+1;
          }
          else
          {
            var a = name.charCodeAt(count)-1;
          }
          var b = String.fromCharCode(a);
          newstr += b;
      }
      name1 = newstr;
// Cipher Decrypt END

// AJAX CODE
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            //  alert(this.responseText);
            var jsonObj = JSON.parse(this.responseText);
            var rc = jsonObj.rowCount; // OUTPUT = ROWCOUNT
            if (rc != 1)
            {
              if(x == "" || y == "")
              {
                alert("One ore more fields have been left blank.\nPlease check and try again.");
                return false;
              }
                alert("Invalid URL.\nPlease check the URL or try resetting it from our Mobile App again!");
                check = "";
                return false;
            }
            else {
              if(x == "" || y == "")
              {
                alert("One ore more fields have been left blank.\nPlease check and try again.");
                return false;
              }
              check = "Yo";
              reset();
              window.open("https://sens-agriculture.herokuapp.com/");
              window.close();
            }
        }
    };
    xhttp.open("GET", "https://sens-agriculture.herokuapp.com/check?uname="+name1, true);
    xhttp.send();

}

function reset(){
  x = document.getElementById("pass").value;
  y = document.getElementById("passr").value;

  var xhttp = new XMLHttpRequest();

    if(n > 0)
    {
        alert("Passwords don't Match, please try again !");
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else if(n < 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else
    {
      if(check == "Yo")
      {
        xhttp.open('GET', "/updatepassword?uname="+name1+"&pass="+x, true);
        xhttp.send();
        alert("Your password has been successfully reset !\nThank you.");
        return true;
    }
  }
}

</script>
</body>
</html>
