<!DOCTYPE html>
<html>
<head>
<title> SenS </title>
<% include ../partials/header.ejs %> 

</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)"> 
</head>

<body style="position: absolute;left: 50%; transform: translateX(-50%)"> 

<meta name="viewport" content="width=device-width, initial-scale=1">

<img src="sens.png" width="70%" height="50%" style="margin-left:15%;">

<h2> Your password has been reset succesfully ! </h2>

    </body>
</html>
