<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<link rel="icon" type="image/png" href="title_logo.png">

<style type="text/css">

body{
	background-color: #2ECC71;
	margin-left:4%;
	text-align:absolute;
	margin-top:5%;
	}

	.banner {
        background-color : #3aafa9;
        overflow : hidden;
			}

	.form{
        font-size : 200%;
		padding-top:5%;
    }

    .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                border: 0;
                margin-bottom: 67px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 21px;
				opacity: 0.5;
			}

    .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #3AAFA9;
                width: 30%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
				margin-left:1%;
            }

	.form button:hover,.form button:active,.form button:focus {
                background: #2B7A78;
            }

</style>
</head>

<body align = "center">

<img class="ïmg" src="sens.png" alt="sens logo" width="25%" height="50%" align="center">
<div class="form">

   Enter&nbsp;  Password  &nbsp;: <input type="password" name="Password" id="pass"> <br/>
   Retype Password : <input type="password" name="PasswordReset" id="passr"><br>
    <button onClick=myFunction()>Reset</button>


</div>

<script>

function myFunction() {

    var x = document.getElementById("pass").value;
    var y = document.getElementById("passr").value;
    var n = x.localeCompare(y);

    if(n > 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else if(n < 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else
    {
        var v = window.location.href;
        var uname = v.split('=');
//  Decrypt Code

				var n = uname[1].length;
				var newstr ="";
				var count;
				var a;

					for(count = 0; count < n; count++)
					{

						if(count == 0 || count%2 == 0)
							{
							a = uname[1].charCodeAt(count)+1;
							}
							else
							{
							a = uname[1].charCodeAt(count)-1;
							}
							var b = String.fromCharCode(a);
							newstr += b;

					}
					var name1 = newstr;

			// Decrypt Code
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/updatepassword?uname="+name1+"&pass="+x, true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/resetSuccess");
        window.close();
    }
}

</script>
</body>
</html>
