<!DOCTYPE html>
<html>
<head>
<title> Reset Success - SenS </title>
<link rel="stylesheet" href="assets/css/main.css" />
<% include ../partials/header.ejs %>
<style type="text/css">

body{
  background: url(forgotpass.png) no-repeat;
  background-size: cover;
}
            .banner {
            background-color : #3aafa9;
            overflow : hidden;
        }

        .header {
            background-color : #3aafa9;
            color : white;
            font-family : verdana;
        }

        #logo {
            margin-bottom : 0;
            padding-left : 1em;
            font-family : verdana;
            font-size : 180%;
            font-weight : Bold;
            word-spacing : 0.2em;
        }

        #agri{
            letter-spacing : 0.25em;
            font-weight : normal;
            color : #17252a;

        }

        #moto {
            margin-top : 0;
            padding-left : 2em;
        }

</style>

</head>

<body align = "center">

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="banner">
<div class="header">
    <p id="logo">SenS <span id="agri">Intelligent and Automated Agriculture</span> </p>
    <p id="moto"> Reset Password </p>
 </div>
 </div>

<img src="sens.png" width="25%" height="50%">

<h2> Your password has been reset successfully ! </h2>

    </body>
</html>
