<!DOCTYPE html>
<html>
<head>
<title>SenS - Reset Password</title>
<% include ../partials/header.ejs %>
<style type="text/css">

body{
	background: url(forgotpass.png) no-repeat;
	background-size: cover;
	margin-left:27%;
	text-align:justify;
	}
            .banner {
            background-color : #3aafa9;
            overflow : hidden;
        }
    .form{
        font-size : 200%;
    }

    .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                border: 0;
                margin-bottom: 67px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 21px;
            }
    .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #3AAFA9;
                width: 30%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
				        margin-left:15%;
            }

	.form button:hover,.form button:active,.form button:focus {
                background: #2B7A78;
            }


</style>
</head>

<body align = "center">

<img src="sens.png" width="25%" height="50%">
<div class="form">

   Enter&nbsp;  Password &nbsp;: <input type="password" name="Password" id="pass"> <br/>
   Retype Password : <input type="password" name="PasswordReset" id="passr"><br>
    <button onClick=myFunction()>Reset</button>


</div>

<script>

function myFunction() {

    var x = document.getElementById("pass").value;
    var y = document.getElementById("passr").value;
    var n = x.localeCompare(y);


    if(n > 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else if(n < 0)
    {
        alert("Passwords don't Match, please try again !");
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/forgotPassword?uname="+uname[1], true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/forgotPassword?uname="+uname[1]);
        window.close();

    }
    else
    {
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/updatepassword?uname="+uname[1]+"&pass="+x, true);
        xhr.send();
        window.open("https://sens-agriculture.herokuapp.com/resetSuccess");
        window.close();
    }


}

</script>
</body>
</html>
