<!DOCTYPE html>
<html>
<head>
<title> Reset Success - SenS </title>
<link rel="icon" type="image/png" href="title_logo.png">
<% include ../partials/header.ejs %>
<style type="text/css">

body{
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

</style>

</head>

<body align = "center">

<meta name="viewport" content="width=device-width, initial-scale=1">

<img src="sens.png" width="25%" height="50%">

<h2> Your password has been reset successfully ! </h2>

    </body>
</html>
