<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
</head>
<body>
<form>
	New Password : <input type="text" name="Password"><br><br>
	Repeat Password : <input type="text" name="PasswordRepeat">
</form>

</body>
</html>