<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<style type="text/css">
	
            .banner {
            background-color : #3aafa9;
            overflow : hidden;
        }
    .form{
        font-size : 250%;
    }
    
    .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                border: 0;
                margin-bottom: 67px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }
    .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #3AAFA9;
                width: 30%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
            }
    .form button:hover,.form button:active,.form button:focus {
                background: #2B7A78;
;
            }
        
        .header {
            background-color : #3aafa9;
            color : white;
            font-family : verdana;
        }
        
        #logo {
            margin-bottom : 0;
            padding-left : 1em;
            font-family : verdana;
            font-size : 180%;
            font-weight : Bold;
            word-spacing : 0.2em;
        }
        
        #hospital{
            letter-spacing : 0.25em;
            font-weight : normal;
            color : #17252a;
           
        }
        
        #moto {
            margin-top : 0;
            padding-left : 2em;
        }

</style>
</head>

<body align = "center">

<div class="banner">
<div class="header">
    <p id="logo">SENS <span id="hospital">Intelligent and Automated Agriculture</span> </p>
    <p id="moto"> Reset Password </p>
 </div>
 </div>    

<div class="form">
<form>
    
	<br><br>New Password : <input type="password" name="Password" id="pass">
    <br>Retype New Password : <input type="password" name="PasswordReset" id="passr"><br>
    <button onClick=myFunction()>Reset</button>
</form>

</div>
    
<script>
var url = require('url');

function myFunction() {
    
    var x = document.getElementById("pass").value;
    var y = document.getElementById("passr").value;
    var n = x.localeCompare(y);


    if(n > 0)
    {
    	alert("Enter correct Password");
    }
    else if(n < 0)
    {
    	alert("Enter Correct Password");
    }
    else
    {
        var v = window.location.href;
        var uname = v.split('=');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/updatepassword?uname="+uname[1]+"&pass="+x, true);
        xhr.send();
        alert(uname[1]);
        window.location.assign("https://sens-agriculture.herokuapp.com/resetSucess");
    }
    return false;

}    

</script>
</body>
</html>