<!DOCTYPE html>
<html>
<body>

<div class="container">
<h2>Database Results</h2>

<select id="myselect" onchange="change_myselect(this.value)">
<option value="">Choose an option:</option>
<option value="test_table">Data from Sensors</option>
<option value="userdata">User Data</option>



</div>

</body>
</html>
