<!DOCTYPE html>
<html>
    
    <head><title>Login</title>
     
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <style>
        
            img {
                
                width: 20%;
                height: 20%;
                margin-left: 41%;
                margin-top: 2%;
            }
            #ss{
                color: #26ae90;
            }
            
        </style>
            
        <script>
            
            function validReg() {

                // Name, Email, Phone, Location, Password, PID

                 var fn = document.getElementById("fname").value;
                 var em = document.getElementById("email").value;
                 var ph = document.getElementById("mob").value;
                 var loc = document.getElementById("loc").value;
                 var pass = document.getElementById("pwd").value;
                 var cpass = document.getElementById("cpwd").value;
                 var pid = document.getElementById("email").value;
                 
                 var n = pass.localeCompare(cpass);

                 if (n == 0)
                 {
                    

        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/register?name="+fn+"&uname="+em+"&phone="+ph+"&loc="+loc+"&pwd="+pass+"&pid="+pid, true);
        xhr.send();
        alert("Sign Up Successfull !\n Redirecting to Login Page");
        window.open("https://sens-agriculture.herokuapp.com/loginForm");
        window.close();


                 }






             
            }
            
            
        </script>
    </head>
    
    <body>
       
        
            <img src="sens.png">
      
        
        <div id="login">
            <form name='form-login'>
                <span class="fontawesome-user"></span>
                <input type="text" id="fname" placeholder="Full Name" required>
                <span class="fontawesome-lock"></span>
                <input type ="text" id="email" placeholder="Email Address" required>
                <span class="fontawesome-lock"></span>
                <input type="text" id="mob" placeholder="Mobile Number" required>
                <span class="fontawesome-lock"></span>
                <input type="text" id="loc" placeholder="Location" required>
                <span class="fontawesome-lock"></span>
                <input type="text" id="pid" placeholder="Product ID" required>
                <span class="fontawesome-lock"></span> <!-- noob zeeshan -->

                <input type="password" id="pwd" placeholder="Password" required>
                <span class="fontawesome-lock"></span>
                <input type="password" id="cpwd" placeholder="Confirm Password" required>
                <input type="checkbox" name="tnc" required> <br> By clicking on Sign Up, you agree to the our Terms and Conditions.
          
             <button onClick=validReg()><div id="ss"><strong>SIGN UP</strong></div></button>
             <button ><div id="ss"><strong>OR LOGIN</strong></div></button>

            </form>
            
        </div>
        
       <!-- <form>
            <input type="text" placeholder="Email" id="email">
            <input type="text" placeholder="Password" id="password">
        
        </form>-->
        
            

    </body>
    
</html>