<!DOCTYPE html>
<html>

    <head><title>User Register - SenS</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" async defer></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
        <link rel="icon" type="image/png" href="title_logo.png">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <style>
            img {
                width: 20%;
                height: 20%;
                margin-left: 41%;
                margin-top: 1.5%;
            }
            body{
              background: url(bg.jpg) no-repeat;
              background-repeat: no-repeat;
              background-position: center center;
              background-attachment: fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
            #ss{
                color: #26ae90;
            }

        </style>
        <script>
      function transfer(){window.open("https://sens-agriculture.herokuapp.com/loginForm"),window.close()}function validReg(){var e=document.getElementById("fname").value,t=document.getElementById("email").value,n=document.getElementById("mob").value,a=document.getElementById("loc").value,o=document.getElementById("pid").value,r=document.getElementById("pwd").value,l=document.getElementById("cpwd").value;if(""==e||""==t||""==n||""==a||""==o||""==r||""==l)return alert("One or more fields have been left empty. \nPlease make sure all the fields have been filled ! \n\n Thank You."),!1;if(0==r.localeCompare(l)){if(""==correctCaptcha2)return alert("Please verify yourself as a human by checking the recaptcha box !"),!1;var c=new XMLHttpRequest;c.open("GET","/register?name="+e+"&uname="+t+"&phone="+n+"&loc="+a+"&pwd="+r+"&pid="+o,!0),c.send(),alert("Thank you for signing up !\n Redirecting you to the Login Page now"),window.open("https://sens-agriculture.herokuapp.com/loginForm")}else alert("Password's don't match, please try again !")}var correctCaptcha2="",correctCaptcha=function(e){correctCaptcha2=e};
        </script>
    </head>

    <body>
        <img class="profile-img" src="sens.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <div id="login">
                            <form name='form-login'>
                                <span class="fontawesome-user"></span>
                                <input type="text" id="fname" placeholder="Full Name" required />
                                <span class="fontawesome-lock"></span>
                                <input type ="text" id="email" placeholder="Email Address" required />
                                <span class="fontawesome-lock"></span>
                                <input type="text" id="mob" placeholder="Mobile Number" required />
                                <span class="fontawesome-lock"></span>
                                <input type="text" id="loc" placeholder="Location" required />
                                <span class="fontawesome-lock"></span>
                                <input type="text" id="pid" placeholder="Product ID" required />
                                <span class="fontawesome-lock"></span> <!-- noob zeeshan -->

                                <input type="password" id="pwd" placeholder="Password" required />
                                <span class="fontawesome-lock"></span>
                                <input type="password" id="cpwd" placeholder="Confirm Password" required /> <br />
                                <br />
                                <div class="g-recaptcha" data-sitekey="6LfIKSsUAAAAAO2qKwRb8MWrAMAOwtLimBWu2-de" data-callback="correctCaptcha"></div>


                            </form>
                            <button onClick=validReg()><div id="ss"><strong>CREATE ACCOUNT</strong></div></button>
                            <button onClick=transfer()><div id="ss"><strong>LOGIN</strong></div></button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
