<!DOCTYPE html>
<html>

    <head><title>User Register - SenS</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <style>

            img {

                width: 20%;
                height: 20%;
                margin-left: 41%;
                margin-top: 2%;
            }
            body{
              background: url(signup.png) no-repeat center ;
            }
            #ss{
                color: #26ae90;
            }

        </style>

        <script>

            function transfer()
            {
              window.open("https://sens-agriculture.herokuapp.com/loginForm");
              window.close();
            }

            function validReg() {

                // Name, Email, Phone, Location, Password, PID

                 var fn = document.getElementById("fname").value;
                 var em = document.getElementById("email").value;
                 var ph = document.getElementById("mob").value;
                 var loc = document.getElementById("loc").value;
                     var pid = document.getElementById("pid").value;
                 var pass = document.getElementById("pwd").value;
                 var cpass = document.getElementById("cpwd").value;

                 if ( fn == "" || em == "" || ph == "" || loc == "" || pid == "" || pass == "" || cpass == "" )
                 {
                   alert("One or more fields have been left empty. Please make sure all the fields have been filled ! \n Thank You.");
                   return false;
                 }


                 var n = pass.localeCompare(cpass);

                 if (n == 0)
                 {
                 var xhr = new XMLHttpRequest();
                 xhr.open('GET', "/register?name="+fn+"&uname="+em+"&phone="+ph+"&loc="+loc+"&pwd="+pass+"&pid="+pid, true);
                 xhr.send();
                 alert("Thank you for signing up !\n Redirecting you to the Login Page");
                 window.open("https://sens-agriculture.herokuapp.com/loginForm");
                 window.close();
                 }
                 else
                {
                alert("Password's don't match, please try again !");
                }

            }


        </script>
    </head>

    <body>
            <img src="sens.png">

        <div id="login">
            <form name='form-login'>
                <span class="fontawesome-user"></span>
                <input type="text" id="fname" placeholder="Full Name" required />
                <span class="fontawesome-lock"></span>
                <input type ="text" id="email" placeholder="Email Address" required />
                <span class="fontawesome-lock"></span>
                <input type="text" id="mob" placeholder="Mobile Number" required />
                <span class="fontawesome-lock"></span>
                <input type="text" id="loc" placeholder="Location" required />
                <span class="fontawesome-lock"></span>
                <input type="text" id="pid" placeholder="Product ID" required />
                <span class="fontawesome-lock"></span> <!-- noob zeeshan -->

                <input type="password" id="pwd" placeholder="Password" required />
                <span class="fontawesome-lock"></span>
                <input type="password" id="cpwd" placeholder="Confirm Password" required /> <br />
                <br /> <p> By clicking on Create Account, you agree to the our Terms and Conditions.</p>

            </form>
            <button onClick=validReg()><div id="ss"><strong>CREATE ACCOUNT</strong></div></button>
             <button onClick=transfer()><div id="ss"><strong>LOGIN</strong></div></button>

        </div>

       <!-- <form>
            <input type="text" placeholder="Email" id="email">
            <input type="text" placeholder="Password" id="password">

        </form>-->



    </body>

</html>
