<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<style type="text/css">
	
            .banner {
            background-color : #3aafa9;
            overflow : hidden;
        }
    .form{
        font-size : 250%;
    }
    .header {
            background-color : #3aafa9;
            color : white;
            font-family : verdana;
        }
        
        #logo {
            margin-bottom : 0;
            padding-left : 1em;
            font-family : verdana;
            font-size : 180%;
            font-weight : Bold;
            word-spacing : 0.2em;
        }
        
        #hospital{
            letter-spacing : 0.25em;
            font-weight : normal;
            color : #17252a;
           
        }
        
        #moto {
            margin-top : 0;
            padding-left : 2em;
        }

</style>
</head>

<body align = "center">

<div class="banner">
<div class="header">
    <p id="logo">SENS <span id="hospital">Intelligent and Automated Agriculture</span> </p>
    <p id="moto"> Reset Password </p>
 </div>
 </div>

<div class="form">
Thanks, Open your app to login with your new password
</div>

</body>
</html>